NI_BEGIN NIProjectConfiguration mainProject
NI_BEGIN NIProjectConfigurationDomain
   NAME                       Main Project
   ROTATING                   -1
   PHYSICAL_STATE             0
   CONTAINER                  0
   NI_BEGIN NIProjectConfigurationDomain
      NAME                       AG5 tutorial7-3d-snubber-without-fillet
      ROTATING                   -1
      PHYSICAL_STATE             0
      CONTAINER                  0
      NI_BEGIN NIProjectConfigurationDomain
         NAME                       row 1
         ROTATING                   -17188
         PHYSICAL_STATE             0
         CONTAINER                  0
         NI_BEGIN NIProjectConfigurationDomain
            NAME                       Main Blade
            ROTATING                   -17188
            PHYSICAL_STATE             0
            CONTAINER                  0
            NI_BEGIN NIProjectConfigurationDomain
               NAME                       Tip Gap
               ROTATING                   -17188
               PHYSICAL_STATE             0
               CONTAINER                  0
               NIProjectConfigurationBcs  Connection with Core Flow
               BLOCK_NAME                 row_1_flux_1_Main_Blade_shroudgap1
               BLOCK_NAME                 row_1_flux_1_Main_Blade_shroudgap2
            NI_END   NIProjectConfigurationDomain
            NI_BEGIN NIProjectConfigurationDomain
               NAME                       Core Flow
               ROTATING                   -17188
               PHYSICAL_STATE             0
               CONTAINER                  0
               NIProjectConfigurationBcs  Connection with Tip Gap
               BLOCK_NAME                 row_1_flux_1_Main_Blade_downStream
               BLOCK_NAME                 row_1_flux_1_Main_Blade_outlet
               BLOCK_NAME                 row_1_flux_1_Main_Blade_upStream
               BLOCK_NAME                 row_1_flux_1_Main_Blade_inlet
               BLOCK_NAME                 row_1_flux_1_Main_Blade_up_downstream
               BLOCK_NAME                 row_1_flux_1_Main_Blade_up_upstream
               BLOCK_NAME                 row_1_flux_1_Main_Blade_down_downstream
               BLOCK_NAME                 row_1_flux_1_Main_Blade_down_upstream
               BLOCK_NAME                 row_1_flux_1_Main_Blade_skin_snubber_1_up
               BLOCK_NAME                 row_1_flux_1_Main_Blade_skin_snubber_1_down
               BLOCK_NAME                 row_1_flux_1_Main_Blade_skin_snubber_1_lower
               BLOCK_NAME                 row_1_flux_1_Main_Blade_skin_snubber_1_upper
               BLOCK_NAME                 row_1_flux_1_Main_Blade_skin_snubber_1_upstream
               BLOCK_NAME                 row_1_flux_1_Main_Blade_skin_snubber_1_downstream1
               BLOCK_NAME                 row_1_flux_1_Main_Blade_skin_snubber_1_downstream2
               BLOCK_NAME                 row_1_flux_1_Main_Blade_skin_snubber_1_downstream_up
               BLOCK_NAME                 row_1_flux_1_Main_Blade_skin_snubber_1_downstream_down
               BLOCK_NAME                 row_1_flux_1_Main_Blade_skin_snubber_1_upstream_up
               BLOCK_NAME                 row_1_flux_1_Main_Blade_skin_snubber_1_upstream_down
               BLOCK_NAME                 row_1_flux_1_Main_Blade_up_snubber_1_lower
               BLOCK_NAME                 row_1_flux_1_Main_Blade_up_snubber_1_upper
               BLOCK_NAME                 row_1_flux_1_Main_Blade_up_snubber_1_downstream
               BLOCK_NAME                 row_1_flux_1_Main_Blade_up_snubber_1_upstream
               BLOCK_NAME                 row_1_flux_1_Main_Blade_down_snubber_1_lower
               BLOCK_NAME                 row_1_flux_1_Main_Blade_down_snubber_1_upper
               BLOCK_NAME                 row_1_flux_1_Main_Blade_down_snubber_1_downstream
               BLOCK_NAME                 row_1_flux_1_Main_Blade_down_snubber_1_upstream
            NI_END   NIProjectConfigurationDomain
         NI_END   NIProjectConfigurationDomain
         NIProjectConfigurationBcs  inlet
         NIProjectConfigurationBcs  outlet
         NIProjectConfigurationBcs  hub
         NIProjectConfigurationBcs  shroud
         NIProjectConfigurationBcs  blade(s)
      NI_END   NIProjectConfigurationDomain
   NI_END   NIProjectConfigurationDomain
   NIProjectConfigurationBcs  row 1 Connection(Fluid->Fluid)
NI_END   NIProjectConfigurationDomain
NI_BEGIN NIProjectConfigurationBcs
   NAME                       /row 1 Connection(Fluid->Fluid)
   FREE_BC_TYPE               Solid
   BC_TYPE                    Connection
   ROTATING                   -17188
   ACOUSTIC_SOURCE            0
   CONNECTED                  1
   CONNECTED_DOMAIN           /AG5 tutorial7-3d-snubber-without-fillet/row 1/Main Blade/Core Flow
   COLOR_ATTRIBUTES           1 1 1 0.8 0.8 0.8 1 1 1 10 1 0 
   NIProjectConfigurationBcs  /AG5 tutorial7-3d-snubber-without-fillet/row 1/Main Blade/Tip Gap/Connection with Core Flow
   NIProjectConfigurationBcs  /AG5 tutorial7-3d-snubber-without-fillet/row 1/Main Blade/Core Flow/Connection with Tip Gap
NI_END   NIProjectConfigurationBcs
NI_BEGIN NIProjectConfigurationBcs
   NAME                       /AG5 tutorial7-3d-snubber-without-fillet/row 1/inlet
   FREE_BC_TYPE               Inlet
   BC_TYPE                    Inlet
   ROTATING                   -17188
   ACOUSTIC_SOURCE            0
   CONNECTED                  0
   CONNECTED_DOMAIN           undefined
   COLOR_ATTRIBUTES           1 1 1 0.8 0.8 0.8 1 1 1 10 1 0 
   NIStructuredPatch          -1 2 1 undefined row_1_flux_1_Main_Blade_upStream
NI_END   NIProjectConfigurationBcs
NI_BEGIN NIProjectConfigurationBcs
   NAME                       /AG5 tutorial7-3d-snubber-without-fillet/row 1/outlet
   FREE_BC_TYPE               Outlet
   BC_TYPE                    Outlet
   ROTATING                   -17188
   ACOUSTIC_SOURCE            0
   CONNECTED                  0
   CONNECTED_DOMAIN           undefined
   COLOR_ATTRIBUTES           1 1 1 0.8 0.8 0.8 1 1 1 10 1 0 
   NIStructuredPatch          -1 1 1 undefined row_1_flux_1_Main_Blade_downStream
NI_END   NIProjectConfigurationBcs
NI_BEGIN NIProjectConfigurationBcs
   NAME                       /AG5 tutorial7-3d-snubber-without-fillet/row 1/hub
   FREE_BC_TYPE               Solid
   BC_TYPE                    Solid
   ROTATING                   -17188
   ACOUSTIC_SOURCE            0
   CONNECTED                  0
   CONNECTED_DOMAIN           undefined
   COLOR_ATTRIBUTES           1 1 1 0.8 0.8 0.8 1 1 1 10 1 0 
   NIStructuredPatch          -1 3 1 undefined row_1_flux_1_Main_Blade_downStream
   NIStructuredPatch          -1 3 1 undefined row_1_flux_1_Main_Blade_down_downstream
   NIStructuredPatch          -1 3 1 undefined row_1_flux_1_Main_Blade_outlet
   NIStructuredPatch          -1 3 1 undefined row_1_flux_1_Main_Blade_up_downstream
   NIStructuredPatch          -1 3 1 undefined row_1_flux_1_Main_Blade_down_snubber_1_lower
   NIStructuredPatch          -1 3 1 undefined row_1_flux_1_Main_Blade_skin_snubber_1_lower
   NIStructuredPatch          -1 3 1 undefined row_1_flux_1_Main_Blade_up_snubber_1_lower
   NIStructuredPatch          -1 3 1 undefined row_1_flux_1_Main_Blade_down_upstream
   NIStructuredPatch          -1 3 1 undefined row_1_flux_1_Main_Blade_inlet
   NIStructuredPatch          -1 3 1 undefined row_1_flux_1_Main_Blade_up_upstream
   NIStructuredPatch          -1 3 1 undefined row_1_flux_1_Main_Blade_upStream
NI_END   NIProjectConfigurationBcs
NI_BEGIN NIProjectConfigurationBcs
   NAME                       /AG5 tutorial7-3d-snubber-without-fillet/row 1/shroud
   FREE_BC_TYPE               Solid
   BC_TYPE                    Solid
   ROTATING                   0
   ACOUSTIC_SOURCE            0
   CONNECTED                  0
   CONNECTED_DOMAIN           undefined
   COLOR_ATTRIBUTES           1 1 1 0.8 0.8 0.8 1 1 1 10 1 0 
   NIStructuredPatch          -1 4 1 undefined row_1_flux_1_Main_Blade_shroudgap1
   NIStructuredPatch          -1 4 1 undefined row_1_flux_1_Main_Blade_shroudgap2
   NIStructuredPatch          -1 4 1 undefined row_1_flux_1_Main_Blade_skin_snubber_1_upper
   NIStructuredPatch          -1 4 1 undefined row_1_flux_1_Main_Blade_outlet
   NIStructuredPatch          -1 4 1 undefined row_1_flux_1_Main_Blade_down_snubber_1_upper
   NIStructuredPatch          -1 4 1 undefined row_1_flux_1_Main_Blade_inlet
   NIStructuredPatch          -1 4 1 undefined row_1_flux_1_Main_Blade_up_snubber_1_upper
   NIStructuredPatch          -1 4 1 undefined row_1_flux_1_Main_Blade_down_downstream
   NIStructuredPatch          -1 4 1 undefined row_1_flux_1_Main_Blade_up_downstream
   NIStructuredPatch          -1 4 1 undefined row_1_flux_1_Main_Blade_downStream
   NIStructuredPatch          -1 4 1 undefined row_1_flux_1_Main_Blade_down_upstream
   NIStructuredPatch          -1 4 1 undefined row_1_flux_1_Main_Blade_up_upstream
   NIStructuredPatch          -1 4 1 undefined row_1_flux_1_Main_Blade_upStream
NI_END   NIProjectConfigurationBcs
NI_BEGIN NIProjectConfigurationBcs
   NAME                       /AG5 tutorial7-3d-snubber-without-fillet/row 1/blade(s)
   FREE_BC_TYPE               Solid
   BC_TYPE                    Solid
   ROTATING                   -17188
   ACOUSTIC_SOURCE            1
   CONNECTED                  0
   CONNECTED_DOMAIN           undefined
   COLOR_ATTRIBUTES           1 1 1 0.8 0.8 0.8 1 1 1 10 1 0 
   NIStructuredPatch          -1 3 1 undefined row_1_flux_1_Main_Blade_shroudgap1
   NIStructuredPatch          -1 3 1 undefined row_1_flux_1_Main_Blade_shroudgap2
   NIStructuredPatch          -1 3 1 undefined row_1_flux_1_Main_Blade_skin_snubber_1_up
   NIStructuredPatch          -1 5 1 undefined row_1_flux_1_Main_Blade_skin_snubber_1_up
   NIStructuredPatch          -1 3 1 undefined row_1_flux_1_Main_Blade_skin_snubber_1_down
   NIStructuredPatch          -1 5 1 undefined row_1_flux_1_Main_Blade_skin_snubber_1_down
   NIStructuredPatch          -1 5 1 undefined row_1_flux_1_Main_Blade_skin_snubber_1_lower
   NIStructuredPatch          -1 5 2 undefined row_1_flux_1_Main_Blade_skin_snubber_1_lower
   NIStructuredPatch          -1 5 2 undefined row_1_flux_1_Main_Blade_skin_snubber_1_upper
   NIStructuredPatch          -1 5 3 undefined row_1_flux_1_Main_Blade_skin_snubber_1_upper
   NIStructuredPatch          -1 5 1 undefined row_1_flux_1_Main_Blade_skin_snubber_1_upstream
   NIStructuredPatch          -1 5 2 undefined row_1_flux_1_Main_Blade_skin_snubber_1_upstream
   NIStructuredPatch          -1 5 1 undefined row_1_flux_1_Main_Blade_skin_snubber_1_downstream1
   NIStructuredPatch          -1 5 1 undefined row_1_flux_1_Main_Blade_skin_snubber_1_downstream2
   NIStructuredPatch          -1 5 1 undefined row_1_flux_1_Main_Blade_skin_snubber_1_downstream_up
   NIStructuredPatch          -1 5 1 undefined row_1_flux_1_Main_Blade_skin_snubber_1_downstream_down
   NIStructuredPatch          -1 5 1 undefined row_1_flux_1_Main_Blade_skin_snubber_1_upstream_up
   NIStructuredPatch          -1 5 1 undefined row_1_flux_1_Main_Blade_skin_snubber_1_upstream_down
NI_END   NIProjectConfigurationBcs
NI_BEGIN NIProjectConfigurationBcs
   NAME                       /AG5 tutorial7-3d-snubber-without-fillet/row 1/Main Blade/Tip Gap/Connection with Core Flow
   FREE_BC_TYPE               Solid
   BC_TYPE                    Connection
   ROTATING                   -17188
   ACOUSTIC_SOURCE            0
   CONNECTED                  1
   CONNECTED_DOMAIN           /AG5 tutorial7-3d-snubber-without-fillet/row 1/Main Blade/Core Flow
   COLOR_ATTRIBUTES           1 1 1 0.8 0.8 0.8 1 1 1 10 1 0 
   NIStructuredPatch          -1 6 1 undefined row_1_flux_1_Main_Blade_shroudgap1
NI_END   NIProjectConfigurationBcs
NI_BEGIN NIProjectConfigurationBcs
   NAME                       /AG5 tutorial7-3d-snubber-without-fillet/row 1/Main Blade/Core Flow/Connection with Tip Gap
   FREE_BC_TYPE               Solid
   BC_TYPE                    Connection
   ROTATING                   -17188
   ACOUSTIC_SOURCE            0
   CONNECTED                  1
   CONNECTED_DOMAIN           /AG5 tutorial7-3d-snubber-without-fillet/row 1/Main Blade/Tip Gap
   COLOR_ATTRIBUTES           1 1 1 0.8 0.8 0.8 1 1 1 10 1 0 
   NIStructuredPatch          -1 5 1 undefined row_1_flux_1_Main_Blade_skin_snubber_1_upper
NI_END   NIProjectConfigurationBcs
NI_END   NIProjectConfiguration mainProject
