NI_BEGIN NIProjectConfiguration mainProject
NI_BEGIN NIProjectConfigurationDomain
   NAME                       Main Project
   ROTATING                   -1
   PHYSICAL_STATE             0
   CONTAINER                  0
   NI_BEGIN NIProjectConfigurationDomain
      NAME                       AG5 tutorial4
      ROTATING                   -1
      PHYSICAL_STATE             0
      CONTAINER                  0
      NI_BEGIN NIProjectConfigurationDomain
         NAME                       row 1
         ROTATING                   500
         PHYSICAL_STATE             0
         CONTAINER                  0
         NI_BEGIN NIProjectConfigurationDomain
            NAME                       Inlet Bulb
            ROTATING                   500
            PHYSICAL_STATE             0
            CONTAINER                  0
            NIProjectConfigurationBcs  Connection with Main Blade
            BLOCK_NAME                 bulb_at_inlet_H1
            BLOCK_NAME                 bulb_at_inlet_H2
            BLOCK_NAME                 bulb_at_inlet_C
            BLOCK_NAME                 bulb_at_inlet_butterfly_1
            BLOCK_NAME                 bulb_at_inlet_butterfly_2
         NI_END   NIProjectConfigurationDomain
         NI_BEGIN NIProjectConfigurationDomain
            NAME                       Main Blade
            ROTATING                   500
            PHYSICAL_STATE             0
            CONTAINER                  0
            NI_BEGIN NIProjectConfigurationDomain
               NAME                       Hub Gap
               ROTATING                   500
               PHYSICAL_STATE             0
               CONTAINER                  0
               NIProjectConfigurationBcs  Connection with Core Flow
               BLOCK_NAME                 row_1_flux_1_Main_Blade_hubgap1
               BLOCK_NAME                 row_1_flux_1_Main_Blade_hubgap2
            NI_END   NIProjectConfigurationDomain
            NI_BEGIN NIProjectConfigurationDomain
               NAME                       Tip Gap
               ROTATING                   500
               PHYSICAL_STATE             0
               CONTAINER                  0
               NIProjectConfigurationBcs  Connection with Core Flow
               BLOCK_NAME                 row_1_flux_3_Main_Blade_shroudgap1
               BLOCK_NAME                 row_1_flux_3_Main_Blade_shroudgap2
            NI_END   NIProjectConfigurationDomain
            NI_BEGIN NIProjectConfigurationDomain
               NAME                       Core Flow
               ROTATING                   500
               PHYSICAL_STATE             0
               CONTAINER                  0
               NIProjectConfigurationBcs  Connection with Hub Gap
               NIProjectConfigurationBcs  Connection with Tip Gap
               BLOCK_NAME                 row_1_flux_1_Main_Blade_downStream
               BLOCK_NAME                 row_1_flux_1_Main_Blade_outlet
               BLOCK_NAME                 row_1_flux_1_Main_Blade_inlet
               BLOCK_NAME                 row_1_flux_1_Main_Blade_skin
               BLOCK_NAME                 row_1_flux_1_Main_Blade_up
               BLOCK_NAME                 row_1_flux_1_Main_Blade_down
               BLOCK_NAME                 row_1_flux_2_Main_Blade_inlet
               BLOCK_NAME                 row_1_flux_2_Main_Blade_outlet
               BLOCK_NAME                 row_1_flux_2_Main_Blade_skin
               BLOCK_NAME                 row_1_flux_2_Main_Blade_up
               BLOCK_NAME                 row_1_flux_2_Main_Blade_down
               BLOCK_NAME                 row_1_flux_3_Main_Blade_downStream
               BLOCK_NAME                 row_1_flux_3_Main_Blade_outlet
               BLOCK_NAME                 row_1_flux_3_Main_Blade_inlet
               BLOCK_NAME                 row_1_flux_3_Main_Blade_skin
               BLOCK_NAME                 row_1_flux_3_Main_Blade_up
               BLOCK_NAME                 row_1_flux_3_Main_Blade_down
            NI_END   NIProjectConfigurationDomain
            NIProjectConfigurationBcs  Connection with Inlet Bulb
         NI_END   NIProjectConfigurationDomain
         NIProjectConfigurationBcs  RS Connection With row 3
         NIProjectConfigurationBcs  RS Connection With row 2
         NIProjectConfigurationBcs  inlet
         NIProjectConfigurationBcs  hub
         NIProjectConfigurationBcs  nozzle
         NIProjectConfigurationBcs  shroud
         NIProjectConfigurationBcs  blade(s)
         BLOCK_NAME                 C_block_around_nozzle
      NI_END   NIProjectConfigurationDomain
      NI_BEGIN NIProjectConfigurationDomain
         NAME                       row 2
         ROTATING                   0
         PHYSICAL_STATE             0
         CONTAINER                  0
         NI_BEGIN NIProjectConfigurationDomain
            NAME                       Main Blade
            ROTATING                   0
            PHYSICAL_STATE             0
            CONTAINER                  0
            NI_BEGIN NIProjectConfigurationDomain
               NAME                       Core Flow
               ROTATING                   0
               PHYSICAL_STATE             0
               CONTAINER                  0
               BLOCK_NAME                 row_2_flux_1_Main_Blade_inlet
               BLOCK_NAME                 row_2_flux_1_Main_Blade_outlet
               BLOCK_NAME                 row_2_flux_1_Main_Blade_skin
               BLOCK_NAME                 row_2_flux_1_Main_Blade_up
               BLOCK_NAME                 row_2_flux_1_Main_Blade_down
            NI_END   NIProjectConfigurationDomain
         NI_END   NIProjectConfigurationDomain
         NIProjectConfigurationBcs  RS Connection With row 1
         NIProjectConfigurationBcs  outlet
         NIProjectConfigurationBcs  nozzle
         NIProjectConfigurationBcs  shroud
         NIProjectConfigurationBcs  blade(s)
      NI_END   NIProjectConfigurationDomain
      NI_BEGIN NIProjectConfigurationDomain
         NAME                       row 3
         ROTATING                   0
         PHYSICAL_STATE             0
         CONTAINER                  0
         NI_BEGIN NIProjectConfigurationDomain
            NAME                       Main Blade
            ROTATING                   0
            PHYSICAL_STATE             0
            CONTAINER                  0
            NI_BEGIN NIProjectConfigurationDomain
               NAME                       Hub Gap
               ROTATING                   0
               PHYSICAL_STATE             0
               CONTAINER                  0
               NIProjectConfigurationBcs  Connection with Core Flow
               BLOCK_NAME                 row_3_flux_1_Main_Blade_hubgap1
               BLOCK_NAME                 row_3_flux_1_Main_Blade_hubgap2
            NI_END   NIProjectConfigurationDomain
            NI_BEGIN NIProjectConfigurationDomain
               NAME                       Tip Gap
               ROTATING                   0
               PHYSICAL_STATE             0
               CONTAINER                  0
               NIProjectConfigurationBcs  Connection with Core Flow
               BLOCK_NAME                 row_3_flux_1_Main_Blade_shroudgap1
               BLOCK_NAME                 row_3_flux_1_Main_Blade_shroudgap2
            NI_END   NIProjectConfigurationDomain
            NI_BEGIN NIProjectConfigurationDomain
               NAME                       Core Flow
               ROTATING                   0
               PHYSICAL_STATE             0
               CONTAINER                  0
               NIProjectConfigurationBcs  Connection with Hub Gap
               NIProjectConfigurationBcs  Connection with Tip Gap
               BLOCK_NAME                 row_3_flux_1_Main_Blade_inlet
               BLOCK_NAME                 row_3_flux_1_Main_Blade_outlet
               BLOCK_NAME                 row_3_flux_1_Main_Blade_skin
               BLOCK_NAME                 row_3_flux_1_Main_Blade_up
               BLOCK_NAME                 row_3_flux_1_Main_Blade_down
            NI_END   NIProjectConfigurationDomain
         NI_END   NIProjectConfigurationDomain
         NIProjectConfigurationBcs  RS Connection With row 1
         NIProjectConfigurationBcs  RS Connection With row 4
         NIProjectConfigurationBcs  hub
         NIProjectConfigurationBcs  nozzle
         NIProjectConfigurationBcs  blade(s)
      NI_END   NIProjectConfigurationDomain
      NI_BEGIN NIProjectConfigurationDomain
         NAME                       row 4
         ROTATING                   500
         PHYSICAL_STATE             0
         CONTAINER                  0
         NI_BEGIN NIProjectConfigurationDomain
            NAME                       Main Blade
            ROTATING                   500
            PHYSICAL_STATE             0
            CONTAINER                  0
            NI_BEGIN NIProjectConfigurationDomain
               NAME                       Tip Gap
               ROTATING                   500
               PHYSICAL_STATE             0
               CONTAINER                  0
               NIProjectConfigurationBcs  Connection with Core Flow
               BLOCK_NAME                 row_4_flux_1_Main_Blade_shroudgap1
               BLOCK_NAME                 row_4_flux_1_Main_Blade_shroudgap2
            NI_END   NIProjectConfigurationDomain
            NI_BEGIN NIProjectConfigurationDomain
               NAME                       Core Flow
               ROTATING                   500
               PHYSICAL_STATE             0
               CONTAINER                  0
               NIProjectConfigurationBcs  Connection with Tip Gap
               BLOCK_NAME                 row_4_flux_1_Main_Blade_inlet
               BLOCK_NAME                 row_4_flux_1_Main_Blade_outlet
               BLOCK_NAME                 row_4_flux_1_Main_Blade_skin
               BLOCK_NAME                 row_4_flux_1_Main_Blade_up
               BLOCK_NAME                 row_4_flux_1_Main_Blade_down
            NI_END   NIProjectConfigurationDomain
         NI_END   NIProjectConfigurationDomain
         NIProjectConfigurationBcs  RS Connection With row 3
         NIProjectConfigurationBcs  RS Connection With row 5
         NIProjectConfigurationBcs  hub
         NIProjectConfigurationBcs  nozzle
         NIProjectConfigurationBcs  blade(s)
      NI_END   NIProjectConfigurationDomain
      NI_BEGIN NIProjectConfigurationDomain
         NAME                       row 5
         ROTATING                   0
         PHYSICAL_STATE             0
         CONTAINER                  0
         NI_BEGIN NIProjectConfigurationDomain
            NAME                       Main Blade
            ROTATING                   0
            PHYSICAL_STATE             0
            CONTAINER                  0
            NI_BEGIN NIProjectConfigurationDomain
               NAME                       Hub Gap
               ROTATING                   0
               PHYSICAL_STATE             0
               CONTAINER                  0
               NIProjectConfigurationBcs  Connection with Core Flow
               BLOCK_NAME                 row_5_flux_1_Main_Blade_hubgap1
               BLOCK_NAME                 row_5_flux_1_Main_Blade_hubgap2
            NI_END   NIProjectConfigurationDomain
            NI_BEGIN NIProjectConfigurationDomain
               NAME                       Tip Gap
               ROTATING                   0
               PHYSICAL_STATE             0
               CONTAINER                  0
               NIProjectConfigurationBcs  Connection with Core Flow
               BLOCK_NAME                 row_5_flux_1_Main_Blade_shroudgap1
               BLOCK_NAME                 row_5_flux_1_Main_Blade_shroudgap2
            NI_END   NIProjectConfigurationDomain
            NI_BEGIN NIProjectConfigurationDomain
               NAME                       Core Flow
               ROTATING                   0
               PHYSICAL_STATE             0
               CONTAINER                  0
               NIProjectConfigurationBcs  Connection with Hub Gap
               NIProjectConfigurationBcs  Connection with Tip Gap
               BLOCK_NAME                 row_5_flux_1_Main_Blade_inlet
               BLOCK_NAME                 row_5_flux_1_Main_Blade_outlet
               BLOCK_NAME                 row_5_flux_1_Main_Blade_skin
               BLOCK_NAME                 row_5_flux_1_Main_Blade_up
               BLOCK_NAME                 row_5_flux_1_Main_Blade_down
            NI_END   NIProjectConfigurationDomain
         NI_END   NIProjectConfigurationDomain
         NIProjectConfigurationBcs  RS Connection With row 4
         NIProjectConfigurationBcs  outlet
         NIProjectConfigurationBcs  hub
         NIProjectConfigurationBcs  nozzle
         NIProjectConfigurationBcs  blade(s)
      NI_END   NIProjectConfigurationDomain
   NI_END   NIProjectConfigurationDomain
   NIProjectConfigurationBcs  row 1 Connection(Fluid->Fluid)
   NIProjectConfigurationBcs  row 3 Connection(Fluid->Fluid)
   NIProjectConfigurationBcs  row 4 Connection(Fluid->Fluid)
   NIProjectConfigurationBcs  row 5 Connection(Fluid->Fluid)
NI_END   NIProjectConfigurationDomain
NI_BEGIN NIProjectConfigurationBcs
   NAME                       /row 1 Connection(Fluid->Fluid)
   FREE_BC_TYPE               Solid
   BC_TYPE                    Connection
   ROTATING                   500
   ACOUSTIC_SOURCE            0
   CONNECTED                  1
   CONNECTED_DOMAIN           /AG5 tutorial4/row 1/Main Blade
   COLOR_ATTRIBUTES           1 1 1 0.8 0.8 0.8 1 1 1 10 1 0 
   NIProjectConfigurationBcs  /AG5 tutorial4/row 1/Inlet Bulb/Connection with Main Blade
   NIProjectConfigurationBcs  /AG5 tutorial4/row 1/Main Blade/Connection with Inlet Bulb
   NIProjectConfigurationBcs  /AG5 tutorial4/row 1/Main Blade/Hub Gap/Connection with Core Flow
   NIProjectConfigurationBcs  /AG5 tutorial4/row 1/Main Blade/Tip Gap/Connection with Core Flow
   NIProjectConfigurationBcs  /AG5 tutorial4/row 1/Main Blade/Core Flow/Connection with Hub Gap
   NIProjectConfigurationBcs  /AG5 tutorial4/row 1/Main Blade/Core Flow/Connection with Tip Gap
NI_END   NIProjectConfigurationBcs
NI_BEGIN NIProjectConfigurationBcs
   NAME                       /row 3 Connection(Fluid->Fluid)
   FREE_BC_TYPE               Solid
   BC_TYPE                    Connection
   ROTATING                   0
   ACOUSTIC_SOURCE            0
   CONNECTED                  1
   CONNECTED_DOMAIN           /AG5 tutorial4/row 3/Main Blade/Core Flow
   COLOR_ATTRIBUTES           1 1 1 0.8 0.8 0.8 1 1 1 10 1 0 
   NIProjectConfigurationBcs  /AG5 tutorial4/row 3/Main Blade/Hub Gap/Connection with Core Flow
   NIProjectConfigurationBcs  /AG5 tutorial4/row 3/Main Blade/Tip Gap/Connection with Core Flow
   NIProjectConfigurationBcs  /AG5 tutorial4/row 3/Main Blade/Core Flow/Connection with Hub Gap
   NIProjectConfigurationBcs  /AG5 tutorial4/row 3/Main Blade/Core Flow/Connection with Tip Gap
NI_END   NIProjectConfigurationBcs
NI_BEGIN NIProjectConfigurationBcs
   NAME                       /row 4 Connection(Fluid->Fluid)
   FREE_BC_TYPE               Solid
   BC_TYPE                    Connection
   ROTATING                   500
   ACOUSTIC_SOURCE            0
   CONNECTED                  1
   CONNECTED_DOMAIN           /AG5 tutorial4/row 4/Main Blade/Core Flow
   COLOR_ATTRIBUTES           1 1 1 0.8 0.8 0.8 1 1 1 10 1 0 
   NIProjectConfigurationBcs  /AG5 tutorial4/row 4/Main Blade/Tip Gap/Connection with Core Flow
   NIProjectConfigurationBcs  /AG5 tutorial4/row 4/Main Blade/Core Flow/Connection with Tip Gap
NI_END   NIProjectConfigurationBcs
NI_BEGIN NIProjectConfigurationBcs
   NAME                       /row 5 Connection(Fluid->Fluid)
   FREE_BC_TYPE               Solid
   BC_TYPE                    Connection
   ROTATING                   0
   ACOUSTIC_SOURCE            0
   CONNECTED                  1
   CONNECTED_DOMAIN           /AG5 tutorial4/row 5/Main Blade/Core Flow
   COLOR_ATTRIBUTES           1 1 1 0.8 0.8 0.8 1 1 1 10 1 0 
   NIProjectConfigurationBcs  /AG5 tutorial4/row 5/Main Blade/Hub Gap/Connection with Core Flow
   NIProjectConfigurationBcs  /AG5 tutorial4/row 5/Main Blade/Tip Gap/Connection with Core Flow
   NIProjectConfigurationBcs  /AG5 tutorial4/row 5/Main Blade/Core Flow/Connection with Hub Gap
   NIProjectConfigurationBcs  /AG5 tutorial4/row 5/Main Blade/Core Flow/Connection with Tip Gap
NI_END   NIProjectConfigurationBcs
NI_BEGIN NIProjectConfigurationBcs
   NAME                       /AG5 tutorial4/row 1/RS Connection With row 3
   FREE_BC_TYPE               Outlet
   BC_TYPE                    Rotor-Stator
   ROTOR_STATOR_SIDE          UPSTREAM
   ROTATING                   500
   ACOUSTIC_SOURCE            0
   CONNECTED                  1
   CONNECTED_DOMAIN           /AG5 tutorial4/row 3
   COLOR_ATTRIBUTES           1 1 1 0.8 0.8 0.8 1 1 1 10 1 0 
   NIStructuredPatch          -1 2 1 undefined C_block_around_nozzle
NI_END   NIProjectConfigurationBcs
NI_BEGIN NIProjectConfigurationBcs
   NAME                       /AG5 tutorial4/row 1/RS Connection With row 2
   FREE_BC_TYPE               Outlet
   BC_TYPE                    Rotor-Stator
   ROTOR_STATOR_SIDE          UPSTREAM
   ROTATING                   500
   ACOUSTIC_SOURCE            0
   CONNECTED                  1
   CONNECTED_DOMAIN           /AG5 tutorial4/row 2
   COLOR_ATTRIBUTES           1 1 1 0.8 0.8 0.8 1 1 1 10 1 0 
   NIStructuredPatch          -1 1 1 undefined C_block_around_nozzle
   NIStructuredPatch          -1 1 1 undefined row_1_flux_3_Main_Blade_downStream
NI_END   NIProjectConfigurationBcs
NI_BEGIN NIProjectConfigurationBcs
   NAME                       /AG5 tutorial4/row 1/inlet
   FREE_BC_TYPE               Inlet
   BC_TYPE                    Inlet
   ROTATING                   500
   ACOUSTIC_SOURCE            0
   CONNECTED                  0
   CONNECTED_DOMAIN           undefined
   COLOR_ATTRIBUTES           1 1 1 0.8 0.8 0.8 1 1 1 10 1 0 
   NIStructuredPatch          -1 1 1 undefined bulb_at_inlet_H1
   NIStructuredPatch          -1 1 1 undefined bulb_at_inlet_H2
   NIStructuredPatch          -1 2 1 undefined bulb_at_inlet_butterfly_1
   NIStructuredPatch          -1 1 1 undefined bulb_at_inlet_butterfly_2
NI_END   NIProjectConfigurationBcs
NI_BEGIN NIProjectConfigurationBcs
   NAME                       /AG5 tutorial4/row 1/hub
   FREE_BC_TYPE               Solid
   BC_TYPE                    Solid
   ROTATING                   500
   ACOUSTIC_SOURCE            0
   CONNECTED                  0
   CONNECTED_DOMAIN           undefined
   COLOR_ATTRIBUTES           1 1 1 0.8 0.8 0.8 1 1 1 10 1 0 
   NIStructuredPatch          -1 3 1 undefined bulb_at_inlet_C
   NIStructuredPatch          -1 2 1 undefined bulb_at_inlet_butterfly_2
   NIStructuredPatch          -1 3 1 undefined row_1_flux_1_Main_Blade_up
   NIStructuredPatch          -1 3 1 undefined row_1_flux_1_Main_Blade_inlet
   NIStructuredPatch          -1 3 1 undefined row_1_flux_1_Main_Blade_down
   NIStructuredPatch          -1 1 1 undefined bulb_at_inlet_butterfly_1
   NIStructuredPatch          -1 3 1 undefined row_1_flux_1_Main_Blade_downStream
   NIStructuredPatch          -1 3 1 undefined row_1_flux_1_Main_Blade_skin
   NIStructuredPatch          -1 3 1 undefined row_1_flux_1_Main_Blade_outlet
   NIStructuredPatch          -1 3 1 undefined row_1_flux_1_Main_Blade_hubgap1
   NIStructuredPatch          -1 3 1 undefined row_1_flux_1_Main_Blade_hubgap2
NI_END   NIProjectConfigurationBcs
NI_BEGIN NIProjectConfigurationBcs
   NAME                       /AG5 tutorial4/row 1/nozzle
   FREE_BC_TYPE               Solid
   BC_TYPE                    Solid
   ROTATING                   500
   ACOUSTIC_SOURCE            0
   CONNECTED                  0
   CONNECTED_DOMAIN           undefined
   COLOR_ATTRIBUTES           1 1 1 0.8 0.8 0.8 1 1 1 10 1 0 
   NIStructuredPatch          -1 3 1 undefined C_block_around_nozzle
NI_END   NIProjectConfigurationBcs
NI_BEGIN NIProjectConfigurationBcs
   NAME                       /AG5 tutorial4/row 1/shroud
   FREE_BC_TYPE               Solid
   BC_TYPE                    Solid
   ROTATING                   0
   ACOUSTIC_SOURCE            0
   CONNECTED                  0
   CONNECTED_DOMAIN           undefined
   COLOR_ATTRIBUTES           1 1 1 0.8 0.8 0.8 1 1 1 10 1 0 
   NIStructuredPatch          -1 4 1 undefined bulb_at_inlet_H1
   NIStructuredPatch          -1 4 1 undefined row_1_flux_3_Main_Blade_up
   NIStructuredPatch          -1 4 1 undefined row_1_flux_3_Main_Blade_inlet
   NIStructuredPatch          -1 4 1 undefined row_1_flux_3_Main_Blade_down
   NIStructuredPatch          -1 4 1 undefined row_1_flux_3_Main_Blade_downStream
   NIStructuredPatch          -1 4 1 undefined row_1_flux_3_Main_Blade_skin
   NIStructuredPatch          -1 4 1 undefined row_1_flux_3_Main_Blade_outlet
   NIStructuredPatch          -1 4 1 undefined row_1_flux_3_Main_Blade_shroudgap1
   NIStructuredPatch          -1 4 1 undefined row_1_flux_3_Main_Blade_shroudgap2
NI_END   NIProjectConfigurationBcs
NI_BEGIN NIProjectConfigurationBcs
   NAME                       /AG5 tutorial4/row 1/blade(s)
   FREE_BC_TYPE               Solid
   BC_TYPE                    Solid
   ROTATING                   500
   ACOUSTIC_SOURCE            1
   CONNECTED                  0
   CONNECTED_DOMAIN           undefined
   COLOR_ATTRIBUTES           1 1 1 0.8 0.8 0.8 1 1 1 10 1 0 
   NIStructuredPatch          -1 4 1 undefined row_1_flux_1_Main_Blade_hubgap1
   NIStructuredPatch          -1 4 1 undefined row_1_flux_1_Main_Blade_hubgap2
   NIStructuredPatch          -1 3 1 undefined row_1_flux_3_Main_Blade_shroudgap1
   NIStructuredPatch          -1 3 1 undefined row_1_flux_3_Main_Blade_shroudgap2
   NIStructuredPatch          -1 5 2 undefined row_1_flux_1_Main_Blade_skin
   NIStructuredPatch          -1 5 3 undefined row_1_flux_1_Main_Blade_skin
   NIStructuredPatch          -1 5 1 undefined row_1_flux_2_Main_Blade_skin
   NIStructuredPatch          -1 5 2 undefined row_1_flux_2_Main_Blade_skin
   NIStructuredPatch          -1 5 2 undefined row_1_flux_3_Main_Blade_skin
   NIStructuredPatch          -1 5 3 undefined row_1_flux_3_Main_Blade_skin
NI_END   NIProjectConfigurationBcs
NI_BEGIN NIProjectConfigurationBcs
   NAME                       /AG5 tutorial4/row 1/Inlet Bulb/Connection with Main Blade
   FREE_BC_TYPE               Solid
   BC_TYPE                    Connection
   ROTATING                   500
   ACOUSTIC_SOURCE            0
   CONNECTED                  1
   CONNECTED_DOMAIN           /AG5 tutorial4/row 1/Main Blade
   COLOR_ATTRIBUTES           1 1 1 0.8 0.8 0.8 1 1 1 10 1 0 
   NIStructuredPatch          -1 2 1 undefined bulb_at_inlet_H1
   NIStructuredPatch          -1 2 2 undefined bulb_at_inlet_H1
   NIStructuredPatch          -1 2 3 undefined bulb_at_inlet_H1
   NIStructuredPatch          -1 2 4 undefined bulb_at_inlet_H1
   NIStructuredPatch          -1 2 5 undefined bulb_at_inlet_H1
   NIStructuredPatch          -1 2 6 undefined bulb_at_inlet_H1
   NIStructuredPatch          -1 2 7 undefined bulb_at_inlet_H1
   NIStructuredPatch          -1 2 8 undefined bulb_at_inlet_H1
   NIStructuredPatch          -1 2 9 undefined bulb_at_inlet_H1
   NIStructuredPatch          -1 2 1 undefined bulb_at_inlet_C
   NIStructuredPatch          -1 2 2 undefined bulb_at_inlet_C
   NIStructuredPatch          -1 2 3 undefined bulb_at_inlet_C
NI_END   NIProjectConfigurationBcs
NI_BEGIN NIProjectConfigurationBcs
   NAME                       /AG5 tutorial4/row 1/Main Blade/Connection with Inlet Bulb
   FREE_BC_TYPE               Solid
   BC_TYPE                    Connection
   ROTATING                   500
   ACOUSTIC_SOURCE            0
   CONNECTED                  1
   CONNECTED_DOMAIN           /AG5 tutorial4/row 1/Inlet Bulb
   COLOR_ATTRIBUTES           1 1 1 0.8 0.8 0.8 1 1 1 10 1 0 
   NIStructuredPatch          -1 2 2 undefined row_1_flux_1_Main_Blade_up
   NIStructuredPatch          -1 2 2 undefined row_1_flux_1_Main_Blade_inlet
   NIStructuredPatch          -1 1 2 undefined row_1_flux_1_Main_Blade_down
   NIStructuredPatch          -1 2 1 undefined row_1_flux_2_Main_Blade_up
   NIStructuredPatch          -1 2 1 undefined row_1_flux_3_Main_Blade_up
   NIStructuredPatch          -1 2 1 undefined row_1_flux_2_Main_Blade_inlet
   NIStructuredPatch          -1 2 1 undefined row_1_flux_3_Main_Blade_inlet
   NIStructuredPatch          -1 1 1 undefined row_1_flux_2_Main_Blade_down
   NIStructuredPatch          -1 1 1 undefined row_1_flux_3_Main_Blade_down
   NIStructuredPatch          -1 2 1 undefined row_1_flux_1_Main_Blade_up
   NIStructuredPatch          -1 2 1 undefined row_1_flux_1_Main_Blade_inlet
   NIStructuredPatch          -1 1 1 undefined row_1_flux_1_Main_Blade_down
NI_END   NIProjectConfigurationBcs
NI_BEGIN NIProjectConfigurationBcs
   NAME                       /AG5 tutorial4/row 1/Main Blade/Hub Gap/Connection with Core Flow
   FREE_BC_TYPE               Solid
   BC_TYPE                    Connection
   ROTATING                   500
   ACOUSTIC_SOURCE            0
   CONNECTED                  1
   CONNECTED_DOMAIN           /AG5 tutorial4/row 1/Main Blade/Core Flow
   COLOR_ATTRIBUTES           1 1 1 0.8 0.8 0.8 1 1 1 10 1 0 
   NIStructuredPatch          -1 6 1 undefined row_1_flux_1_Main_Blade_hubgap1
NI_END   NIProjectConfigurationBcs
NI_BEGIN NIProjectConfigurationBcs
   NAME                       /AG5 tutorial4/row 1/Main Blade/Tip Gap/Connection with Core Flow
   FREE_BC_TYPE               Solid
   BC_TYPE                    Connection
   ROTATING                   500
   ACOUSTIC_SOURCE            0
   CONNECTED                  1
   CONNECTED_DOMAIN           /AG5 tutorial4/row 1/Main Blade/Core Flow
   COLOR_ATTRIBUTES           1 1 1 0.8 0.8 0.8 1 1 1 10 1 0 
   NIStructuredPatch          -1 6 1 undefined row_1_flux_3_Main_Blade_shroudgap1
NI_END   NIProjectConfigurationBcs
NI_BEGIN NIProjectConfigurationBcs
   NAME                       /AG5 tutorial4/row 1/Main Blade/Core Flow/Connection with Hub Gap
   FREE_BC_TYPE               Solid
   BC_TYPE                    Connection
   ROTATING                   500
   ACOUSTIC_SOURCE            0
   CONNECTED                  1
   CONNECTED_DOMAIN           /AG5 tutorial4/row 1/Main Blade/Hub Gap
   COLOR_ATTRIBUTES           1 1 1 0.8 0.8 0.8 1 1 1 10 1 0 
   NIStructuredPatch          -1 5 1 undefined row_1_flux_1_Main_Blade_skin
NI_END   NIProjectConfigurationBcs
NI_BEGIN NIProjectConfigurationBcs
   NAME                       /AG5 tutorial4/row 1/Main Blade/Core Flow/Connection with Tip Gap
   FREE_BC_TYPE               Solid
   BC_TYPE                    Connection
   ROTATING                   500
   ACOUSTIC_SOURCE            0
   CONNECTED                  1
   CONNECTED_DOMAIN           /AG5 tutorial4/row 1/Main Blade/Tip Gap
   COLOR_ATTRIBUTES           1 1 1 0.8 0.8 0.8 1 1 1 10 1 0 
   NIStructuredPatch          -1 5 1 undefined row_1_flux_3_Main_Blade_skin
NI_END   NIProjectConfigurationBcs
NI_BEGIN NIProjectConfigurationBcs
   NAME                       /AG5 tutorial4/row 2/RS Connection With row 1
   FREE_BC_TYPE               Inlet
   BC_TYPE                    Rotor-Stator
   ROTOR_STATOR_SIDE          DOWNSTREAM
   ROTATING                   0
   ACOUSTIC_SOURCE            0
   CONNECTED                  1
   CONNECTED_DOMAIN           /AG5 tutorial4/row 1
   COLOR_ATTRIBUTES           1 1 1 0.8 0.8 0.8 1 1 1 10 1 0 
   NIStructuredPatch          -1 2 1 undefined row_2_flux_1_Main_Blade_inlet
   NIStructuredPatch          -1 2 2 undefined row_2_flux_1_Main_Blade_inlet
   NIStructuredPatch          -1 2 1 undefined row_2_flux_1_Main_Blade_up
   NIStructuredPatch          -1 2 2 undefined row_2_flux_1_Main_Blade_up
   NIStructuredPatch          -1 1 1 undefined row_2_flux_1_Main_Blade_down
   NIStructuredPatch          -1 1 2 undefined row_2_flux_1_Main_Blade_down
NI_END   NIProjectConfigurationBcs
NI_BEGIN NIProjectConfigurationBcs
   NAME                       /AG5 tutorial4/row 2/outlet
   FREE_BC_TYPE               Outlet
   BC_TYPE                    Outlet
   ROTATING                   0
   ACOUSTIC_SOURCE            0
   CONNECTED                  0
   CONNECTED_DOMAIN           undefined
   COLOR_ATTRIBUTES           1 1 1 0.8 0.8 0.8 1 1 1 10 1 0 
   NIStructuredPatch          -1 1 1 undefined row_2_flux_1_Main_Blade_outlet
   NIStructuredPatch          -1 1 1 undefined row_2_flux_1_Main_Blade_up
   NIStructuredPatch          -1 2 1 undefined row_2_flux_1_Main_Blade_down
NI_END   NIProjectConfigurationBcs
NI_BEGIN NIProjectConfigurationBcs
   NAME                       /AG5 tutorial4/row 2/nozzle
   FREE_BC_TYPE               Solid
   BC_TYPE                    Solid
   ROTATING                   0
   ACOUSTIC_SOURCE            0
   CONNECTED                  0
   CONNECTED_DOMAIN           undefined
   COLOR_ATTRIBUTES           1 1 1 0.8 0.8 0.8 1 1 1 10 1 0 
   NIStructuredPatch          -1 3 1 undefined row_2_flux_1_Main_Blade_inlet
   NIStructuredPatch          -1 3 1 undefined row_2_flux_1_Main_Blade_outlet
   NIStructuredPatch          -1 3 1 undefined row_2_flux_1_Main_Blade_skin
   NIStructuredPatch          -1 3 1 undefined row_2_flux_1_Main_Blade_up
   NIStructuredPatch          -1 3 1 undefined row_2_flux_1_Main_Blade_down
NI_END   NIProjectConfigurationBcs
NI_BEGIN NIProjectConfigurationBcs
   NAME                       /AG5 tutorial4/row 2/shroud
   FREE_BC_TYPE               Solid
   BC_TYPE                    Solid
   ROTATING                   0
   ACOUSTIC_SOURCE            0
   CONNECTED                  0
   CONNECTED_DOMAIN           undefined
   COLOR_ATTRIBUTES           1 1 1 0.8 0.8 0.8 1 1 1 10 1 0 
   NIStructuredPatch          -1 4 1 undefined row_2_flux_1_Main_Blade_inlet
   NIStructuredPatch          -1 4 1 undefined row_2_flux_1_Main_Blade_skin
   NIStructuredPatch          -1 4 1 undefined row_2_flux_1_Main_Blade_down
   NIStructuredPatch          -1 4 1 undefined row_2_flux_1_Main_Blade_up
   NIStructuredPatch          -1 4 1 undefined row_2_flux_1_Main_Blade_outlet
NI_END   NIProjectConfigurationBcs
NI_BEGIN NIProjectConfigurationBcs
   NAME                       /AG5 tutorial4/row 2/blade(s)
   FREE_BC_TYPE               Solid
   BC_TYPE                    Solid
   ROTATING                   0
   ACOUSTIC_SOURCE            1
   CONNECTED                  0
   CONNECTED_DOMAIN           undefined
   COLOR_ATTRIBUTES           1 1 1 0.8 0.8 0.8 1 1 1 10 1 0 
   NIStructuredPatch          -1 5 1 undefined row_2_flux_1_Main_Blade_skin
   NIStructuredPatch          -1 5 2 undefined row_2_flux_1_Main_Blade_skin
NI_END   NIProjectConfigurationBcs
NI_BEGIN NIProjectConfigurationBcs
   NAME                       /AG5 tutorial4/row 3/RS Connection With row 1
   FREE_BC_TYPE               Inlet
   BC_TYPE                    Rotor-Stator
   ROTOR_STATOR_SIDE          DOWNSTREAM
   ROTATING                   0
   ACOUSTIC_SOURCE            0
   CONNECTED                  1
   CONNECTED_DOMAIN           /AG5 tutorial4/row 1
   COLOR_ATTRIBUTES           1 1 1 0.8 0.8 0.8 1 1 1 10 1 0 
   NIStructuredPatch          -1 2 1 undefined row_3_flux_1_Main_Blade_inlet
   NIStructuredPatch          -1 2 2 undefined row_3_flux_1_Main_Blade_inlet
   NIStructuredPatch          -1 2 1 undefined row_3_flux_1_Main_Blade_up
   NIStructuredPatch          -1 2 2 undefined row_3_flux_1_Main_Blade_up
   NIStructuredPatch          -1 1 1 undefined row_3_flux_1_Main_Blade_down
   NIStructuredPatch          -1 1 2 undefined row_3_flux_1_Main_Blade_down
NI_END   NIProjectConfigurationBcs
NI_BEGIN NIProjectConfigurationBcs
   NAME                       /AG5 tutorial4/row 3/RS Connection With row 4
   FREE_BC_TYPE               Outlet
   BC_TYPE                    Rotor-Stator
   ROTOR_STATOR_SIDE          UPSTREAM
   ROTATING                   0
   ACOUSTIC_SOURCE            0
   CONNECTED                  1
   CONNECTED_DOMAIN           /AG5 tutorial4/row 4
   COLOR_ATTRIBUTES           1 1 1 0.8 0.8 0.8 1 1 1 10 1 0 
   NIStructuredPatch          -1 1 1 undefined row_3_flux_1_Main_Blade_outlet
   NIStructuredPatch          -1 1 1 undefined row_3_flux_1_Main_Blade_up
   NIStructuredPatch          -1 2 1 undefined row_3_flux_1_Main_Blade_down
NI_END   NIProjectConfigurationBcs
NI_BEGIN NIProjectConfigurationBcs
   NAME                       /AG5 tutorial4/row 3/hub
   FREE_BC_TYPE               Solid
   BC_TYPE                    Solid
   ROTATING                   0
   ACOUSTIC_SOURCE            0
   CONNECTED                  0
   CONNECTED_DOMAIN           undefined
   COLOR_ATTRIBUTES           1 1 1 0.8 0.8 0.8 1 1 1 10 1 0 
   NIStructuredPatch          -1 3 1 undefined row_3_flux_1_Main_Blade_hubgap1
   NIStructuredPatch          -1 3 1 undefined row_3_flux_1_Main_Blade_hubgap2
   NIStructuredPatch          -1 3 1 undefined row_3_flux_1_Main_Blade_skin
   NIStructuredPatch          -1 3 1 undefined row_3_flux_1_Main_Blade_outlet
   NIStructuredPatch          -1 3 1 undefined row_3_flux_1_Main_Blade_down
   NIStructuredPatch          -1 3 1 undefined row_3_flux_1_Main_Blade_inlet
   NIStructuredPatch          -1 3 1 undefined row_3_flux_1_Main_Blade_up
NI_END   NIProjectConfigurationBcs
NI_BEGIN NIProjectConfigurationBcs
   NAME                       /AG5 tutorial4/row 3/nozzle
   FREE_BC_TYPE               Solid
   BC_TYPE                    Solid
   ROTATING                   0
   ACOUSTIC_SOURCE            0
   CONNECTED                  0
   CONNECTED_DOMAIN           undefined
   COLOR_ATTRIBUTES           1 1 1 0.8 0.8 0.8 1 1 1 10 1 0 
   NIStructuredPatch          -1 4 1 undefined row_3_flux_1_Main_Blade_shroudgap1
   NIStructuredPatch          -1 4 1 undefined row_3_flux_1_Main_Blade_shroudgap2
   NIStructuredPatch          -1 4 1 undefined row_3_flux_1_Main_Blade_inlet
   NIStructuredPatch          -1 4 1 undefined row_3_flux_1_Main_Blade_outlet
   NIStructuredPatch          -1 4 1 undefined row_3_flux_1_Main_Blade_skin
   NIStructuredPatch          -1 4 1 undefined row_3_flux_1_Main_Blade_up
   NIStructuredPatch          -1 4 1 undefined row_3_flux_1_Main_Blade_down
NI_END   NIProjectConfigurationBcs
NI_BEGIN NIProjectConfigurationBcs
   NAME                       /AG5 tutorial4/row 3/blade(s)
   FREE_BC_TYPE               Solid
   BC_TYPE                    Solid
   ROTATING                   0
   ACOUSTIC_SOURCE            1
   CONNECTED                  0
   CONNECTED_DOMAIN           undefined
   COLOR_ATTRIBUTES           1 1 1 0.8 0.8 0.8 1 1 1 10 1 0 
   NIStructuredPatch          -1 4 1 undefined row_3_flux_1_Main_Blade_hubgap1
   NIStructuredPatch          -1 4 1 undefined row_3_flux_1_Main_Blade_hubgap2
   NIStructuredPatch          -1 3 1 undefined row_3_flux_1_Main_Blade_shroudgap1
   NIStructuredPatch          -1 3 1 undefined row_3_flux_1_Main_Blade_shroudgap2
   NIStructuredPatch          -1 5 3 undefined row_3_flux_1_Main_Blade_skin
   NIStructuredPatch          -1 5 4 undefined row_3_flux_1_Main_Blade_skin
NI_END   NIProjectConfigurationBcs
NI_BEGIN NIProjectConfigurationBcs
   NAME                       /AG5 tutorial4/row 3/Main Blade/Hub Gap/Connection with Core Flow
   FREE_BC_TYPE               Solid
   BC_TYPE                    Connection
   ROTATING                   0
   ACOUSTIC_SOURCE            0
   CONNECTED                  1
   CONNECTED_DOMAIN           /AG5 tutorial4/row 3/Main Blade/Core Flow
   COLOR_ATTRIBUTES           1 1 1 0.8 0.8 0.8 1 1 1 10 1 0 
   NIStructuredPatch          -1 6 1 undefined row_3_flux_1_Main_Blade_hubgap1
NI_END   NIProjectConfigurationBcs
NI_BEGIN NIProjectConfigurationBcs
   NAME                       /AG5 tutorial4/row 3/Main Blade/Tip Gap/Connection with Core Flow
   FREE_BC_TYPE               Solid
   BC_TYPE                    Connection
   ROTATING                   0
   ACOUSTIC_SOURCE            0
   CONNECTED                  1
   CONNECTED_DOMAIN           /AG5 tutorial4/row 3/Main Blade/Core Flow
   COLOR_ATTRIBUTES           1 1 1 0.8 0.8 0.8 1 1 1 10 1 0 
   NIStructuredPatch          -1 6 1 undefined row_3_flux_1_Main_Blade_shroudgap1
NI_END   NIProjectConfigurationBcs
NI_BEGIN NIProjectConfigurationBcs
   NAME                       /AG5 tutorial4/row 3/Main Blade/Core Flow/Connection with Hub Gap
   FREE_BC_TYPE               Solid
   BC_TYPE                    Connection
   ROTATING                   0
   ACOUSTIC_SOURCE            0
   CONNECTED                  1
   CONNECTED_DOMAIN           /AG5 tutorial4/row 3/Main Blade/Hub Gap
   COLOR_ATTRIBUTES           1 1 1 0.8 0.8 0.8 1 1 1 10 1 0 
   NIStructuredPatch          -1 5 1 undefined row_3_flux_1_Main_Blade_skin
NI_END   NIProjectConfigurationBcs
NI_BEGIN NIProjectConfigurationBcs
   NAME                       /AG5 tutorial4/row 3/Main Blade/Core Flow/Connection with Tip Gap
   FREE_BC_TYPE               Solid
   BC_TYPE                    Connection
   ROTATING                   0
   ACOUSTIC_SOURCE            0
   CONNECTED                  1
   CONNECTED_DOMAIN           /AG5 tutorial4/row 3/Main Blade/Tip Gap
   COLOR_ATTRIBUTES           1 1 1 0.8 0.8 0.8 1 1 1 10 1 0 
   NIStructuredPatch          -1 5 2 undefined row_3_flux_1_Main_Blade_skin
NI_END   NIProjectConfigurationBcs
NI_BEGIN NIProjectConfigurationBcs
   NAME                       /AG5 tutorial4/row 4/RS Connection With row 3
   FREE_BC_TYPE               Inlet
   BC_TYPE                    Rotor-Stator
   ROTOR_STATOR_SIDE          DOWNSTREAM
   ROTATING                   500
   ACOUSTIC_SOURCE            0
   CONNECTED                  1
   CONNECTED_DOMAIN           /AG5 tutorial4/row 3
   COLOR_ATTRIBUTES           1 1 1 0.8 0.8 0.8 1 1 1 10 1 0 
   NIStructuredPatch          -1 2 1 undefined row_4_flux_1_Main_Blade_inlet
   NIStructuredPatch          -1 2 1 undefined row_4_flux_1_Main_Blade_up
   NIStructuredPatch          -1 1 1 undefined row_4_flux_1_Main_Blade_down
NI_END   NIProjectConfigurationBcs
NI_BEGIN NIProjectConfigurationBcs
   NAME                       /AG5 tutorial4/row 4/RS Connection With row 5
   FREE_BC_TYPE               Outlet
   BC_TYPE                    Rotor-Stator
   ROTOR_STATOR_SIDE          UPSTREAM
   ROTATING                   500
   ACOUSTIC_SOURCE            0
   CONNECTED                  1
   CONNECTED_DOMAIN           /AG5 tutorial4/row 5
   COLOR_ATTRIBUTES           1 1 1 0.8 0.8 0.8 1 1 1 10 1 0 
   NIStructuredPatch          -1 1 1 undefined row_4_flux_1_Main_Blade_outlet
   NIStructuredPatch          -1 1 1 undefined row_4_flux_1_Main_Blade_up
   NIStructuredPatch          -1 2 1 undefined row_4_flux_1_Main_Blade_down
NI_END   NIProjectConfigurationBcs
NI_BEGIN NIProjectConfigurationBcs
   NAME                       /AG5 tutorial4/row 4/hub
   FREE_BC_TYPE               Solid
   BC_TYPE                    Solid
   ROTATING                   500
   ACOUSTIC_SOURCE            0
   CONNECTED                  0
   CONNECTED_DOMAIN           undefined
   COLOR_ATTRIBUTES           1 1 1 0.8 0.8 0.8 1 1 1 10 1 0 
   NIStructuredPatch          -1 3 1 undefined row_4_flux_1_Main_Blade_inlet
   NIStructuredPatch          -1 3 1 undefined row_4_flux_1_Main_Blade_skin
   NIStructuredPatch          -1 3 1 undefined row_4_flux_1_Main_Blade_down
   NIStructuredPatch          -1 3 1 undefined row_4_flux_1_Main_Blade_up
   NIStructuredPatch          -1 3 1 undefined row_4_flux_1_Main_Blade_outlet
NI_END   NIProjectConfigurationBcs
NI_BEGIN NIProjectConfigurationBcs
   NAME                       /AG5 tutorial4/row 4/nozzle
   FREE_BC_TYPE               Solid
   BC_TYPE                    Solid
   ROTATING                   0
   ACOUSTIC_SOURCE            0
   CONNECTED                  0
   CONNECTED_DOMAIN           undefined
   COLOR_ATTRIBUTES           1 1 1 0.8 0.8 0.8 1 1 1 10 1 0 
   NIStructuredPatch          -1 4 1 undefined row_4_flux_1_Main_Blade_shroudgap1
   NIStructuredPatch          -1 4 1 undefined row_4_flux_1_Main_Blade_shroudgap2
   NIStructuredPatch          -1 4 1 undefined row_4_flux_1_Main_Blade_inlet
   NIStructuredPatch          -1 4 1 undefined row_4_flux_1_Main_Blade_outlet
   NIStructuredPatch          -1 4 1 undefined row_4_flux_1_Main_Blade_skin
   NIStructuredPatch          -1 4 1 undefined row_4_flux_1_Main_Blade_up
   NIStructuredPatch          -1 4 1 undefined row_4_flux_1_Main_Blade_down
NI_END   NIProjectConfigurationBcs
NI_BEGIN NIProjectConfigurationBcs
   NAME                       /AG5 tutorial4/row 4/blade(s)
   FREE_BC_TYPE               Solid
   BC_TYPE                    Solid
   ROTATING                   500
   ACOUSTIC_SOURCE            1
   CONNECTED                  0
   CONNECTED_DOMAIN           undefined
   COLOR_ATTRIBUTES           1 1 1 0.8 0.8 0.8 1 1 1 10 1 0 
   NIStructuredPatch          -1 3 1 undefined row_4_flux_1_Main_Blade_shroudgap1
   NIStructuredPatch          -1 3 1 undefined row_4_flux_1_Main_Blade_shroudgap2
   NIStructuredPatch          -1 5 2 undefined row_4_flux_1_Main_Blade_skin
   NIStructuredPatch          -1 5 3 undefined row_4_flux_1_Main_Blade_skin
NI_END   NIProjectConfigurationBcs
NI_BEGIN NIProjectConfigurationBcs
   NAME                       /AG5 tutorial4/row 4/Main Blade/Tip Gap/Connection with Core Flow
   FREE_BC_TYPE               Solid
   BC_TYPE                    Connection
   ROTATING                   500
   ACOUSTIC_SOURCE            0
   CONNECTED                  1
   CONNECTED_DOMAIN           /AG5 tutorial4/row 4/Main Blade/Core Flow
   COLOR_ATTRIBUTES           1 1 1 0.8 0.8 0.8 1 1 1 10 1 0 
   NIStructuredPatch          -1 6 1 undefined row_4_flux_1_Main_Blade_shroudgap1
NI_END   NIProjectConfigurationBcs
NI_BEGIN NIProjectConfigurationBcs
   NAME                       /AG5 tutorial4/row 4/Main Blade/Core Flow/Connection with Tip Gap
   FREE_BC_TYPE               Solid
   BC_TYPE                    Connection
   ROTATING                   500
   ACOUSTIC_SOURCE            0
   CONNECTED                  1
   CONNECTED_DOMAIN           /AG5 tutorial4/row 4/Main Blade/Tip Gap
   COLOR_ATTRIBUTES           1 1 1 0.8 0.8 0.8 1 1 1 10 1 0 
   NIStructuredPatch          -1 5 1 undefined row_4_flux_1_Main_Blade_skin
NI_END   NIProjectConfigurationBcs
NI_BEGIN NIProjectConfigurationBcs
   NAME                       /AG5 tutorial4/row 5/RS Connection With row 4
   FREE_BC_TYPE               Inlet
   BC_TYPE                    Rotor-Stator
   ROTOR_STATOR_SIDE          DOWNSTREAM
   ROTATING                   0
   ACOUSTIC_SOURCE            0
   CONNECTED                  1
   CONNECTED_DOMAIN           /AG5 tutorial4/row 4
   COLOR_ATTRIBUTES           1 1 1 0.8 0.8 0.8 1 1 1 10 1 0 
   NIStructuredPatch          -1 2 1 undefined row_5_flux_1_Main_Blade_inlet
   NIStructuredPatch          -1 2 1 undefined row_5_flux_1_Main_Blade_up
   NIStructuredPatch          -1 1 1 undefined row_5_flux_1_Main_Blade_down
NI_END   NIProjectConfigurationBcs
NI_BEGIN NIProjectConfigurationBcs
   NAME                       /AG5 tutorial4/row 5/outlet
   FREE_BC_TYPE               Outlet
   BC_TYPE                    Outlet
   ROTATING                   0
   ACOUSTIC_SOURCE            0
   CONNECTED                  0
   CONNECTED_DOMAIN           undefined
   COLOR_ATTRIBUTES           1 1 1 0.8 0.8 0.8 1 1 1 10 1 0 
   NIStructuredPatch          -1 1 1 undefined row_5_flux_1_Main_Blade_outlet
   NIStructuredPatch          -1 1 1 undefined row_5_flux_1_Main_Blade_up
   NIStructuredPatch          -1 2 1 undefined row_5_flux_1_Main_Blade_down
NI_END   NIProjectConfigurationBcs
NI_BEGIN NIProjectConfigurationBcs
   NAME                       /AG5 tutorial4/row 5/hub
   FREE_BC_TYPE               Solid
   BC_TYPE                    Solid
   ROTATING                   0
   ACOUSTIC_SOURCE            0
   CONNECTED                  0
   CONNECTED_DOMAIN           undefined
   COLOR_ATTRIBUTES           1 1 1 0.8 0.8 0.8 1 1 1 10 1 0 
   NIStructuredPatch          -1 3 1 undefined row_5_flux_1_Main_Blade_hubgap1
   NIStructuredPatch          -1 3 1 undefined row_5_flux_1_Main_Blade_hubgap2
   NIStructuredPatch          -1 3 1 undefined row_5_flux_1_Main_Blade_skin
   NIStructuredPatch          -1 3 1 undefined row_5_flux_1_Main_Blade_outlet
   NIStructuredPatch          -1 3 1 undefined row_5_flux_1_Main_Blade_down
   NIStructuredPatch          -1 3 1 undefined row_5_flux_1_Main_Blade_inlet
   NIStructuredPatch          -1 3 1 undefined row_5_flux_1_Main_Blade_up
NI_END   NIProjectConfigurationBcs
NI_BEGIN NIProjectConfigurationBcs
   NAME                       /AG5 tutorial4/row 5/nozzle
   FREE_BC_TYPE               Solid
   BC_TYPE                    Solid
   ROTATING                   0
   ACOUSTIC_SOURCE            0
   CONNECTED                  0
   CONNECTED_DOMAIN           undefined
   COLOR_ATTRIBUTES           1 1 1 0.8 0.8 0.8 1 1 1 10 1 0 
   NIStructuredPatch          -1 4 1 undefined row_5_flux_1_Main_Blade_shroudgap1
   NIStructuredPatch          -1 4 1 undefined row_5_flux_1_Main_Blade_shroudgap2
   NIStructuredPatch          -1 4 1 undefined row_5_flux_1_Main_Blade_inlet
   NIStructuredPatch          -1 4 1 undefined row_5_flux_1_Main_Blade_outlet
   NIStructuredPatch          -1 4 1 undefined row_5_flux_1_Main_Blade_skin
   NIStructuredPatch          -1 4 1 undefined row_5_flux_1_Main_Blade_up
   NIStructuredPatch          -1 4 1 undefined row_5_flux_1_Main_Blade_down
NI_END   NIProjectConfigurationBcs
NI_BEGIN NIProjectConfigurationBcs
   NAME                       /AG5 tutorial4/row 5/blade(s)
   FREE_BC_TYPE               Solid
   BC_TYPE                    Solid
   ROTATING                   0
   ACOUSTIC_SOURCE            1
   CONNECTED                  0
   CONNECTED_DOMAIN           undefined
   COLOR_ATTRIBUTES           1 1 1 0.8 0.8 0.8 1 1 1 10 1 0 
   NIStructuredPatch          -1 4 1 undefined row_5_flux_1_Main_Blade_hubgap1
   NIStructuredPatch          -1 4 1 undefined row_5_flux_1_Main_Blade_hubgap2
   NIStructuredPatch          -1 3 1 undefined row_5_flux_1_Main_Blade_shroudgap1
   NIStructuredPatch          -1 3 1 undefined row_5_flux_1_Main_Blade_shroudgap2
   NIStructuredPatch          -1 5 3 undefined row_5_flux_1_Main_Blade_skin
   NIStructuredPatch          -1 5 4 undefined row_5_flux_1_Main_Blade_skin
NI_END   NIProjectConfigurationBcs
NI_BEGIN NIProjectConfigurationBcs
   NAME                       /AG5 tutorial4/row 5/Main Blade/Hub Gap/Connection with Core Flow
   FREE_BC_TYPE               Solid
   BC_TYPE                    Connection
   ROTATING                   0
   ACOUSTIC_SOURCE            0
   CONNECTED                  1
   CONNECTED_DOMAIN           /AG5 tutorial4/row 5/Main Blade/Core Flow
   COLOR_ATTRIBUTES           1 1 1 0.8 0.8 0.8 1 1 1 10 1 0 
   NIStructuredPatch          -1 6 1 undefined row_5_flux_1_Main_Blade_hubgap1
NI_END   NIProjectConfigurationBcs
NI_BEGIN NIProjectConfigurationBcs
   NAME                       /AG5 tutorial4/row 5/Main Blade/Tip Gap/Connection with Core Flow
   FREE_BC_TYPE               Solid
   BC_TYPE                    Connection
   ROTATING                   0
   ACOUSTIC_SOURCE            0
   CONNECTED                  1
   CONNECTED_DOMAIN           /AG5 tutorial4/row 5/Main Blade/Core Flow
   COLOR_ATTRIBUTES           1 1 1 0.8 0.8 0.8 1 1 1 10 1 0 
   NIStructuredPatch          -1 6 1 undefined row_5_flux_1_Main_Blade_shroudgap1
NI_END   NIProjectConfigurationBcs
NI_BEGIN NIProjectConfigurationBcs
   NAME                       /AG5 tutorial4/row 5/Main Blade/Core Flow/Connection with Hub Gap
   FREE_BC_TYPE               Solid
   BC_TYPE                    Connection
   ROTATING                   0
   ACOUSTIC_SOURCE            0
   CONNECTED                  1
   CONNECTED_DOMAIN           /AG5 tutorial4/row 5/Main Blade/Hub Gap
   COLOR_ATTRIBUTES           1 1 1 0.8 0.8 0.8 1 1 1 10 1 0 
   NIStructuredPatch          -1 5 1 undefined row_5_flux_1_Main_Blade_skin
NI_END   NIProjectConfigurationBcs
NI_BEGIN NIProjectConfigurationBcs
   NAME                       /AG5 tutorial4/row 5/Main Blade/Core Flow/Connection with Tip Gap
   FREE_BC_TYPE               Solid
   BC_TYPE                    Connection
   ROTATING                   0
   ACOUSTIC_SOURCE            0
   CONNECTED                  1
   CONNECTED_DOMAIN           /AG5 tutorial4/row 5/Main Blade/Tip Gap
   COLOR_ATTRIBUTES           1 1 1 0.8 0.8 0.8 1 1 1 10 1 0 
   NIStructuredPatch          -1 5 2 undefined row_5_flux_1_Main_Blade_skin
NI_END   NIProjectConfigurationBcs
NI_END   NIProjectConfiguration mainProject
